<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">-->
<!--  </head>-->

<!--  <body>-->
<!--    <div class="container" style="text-align: center">-->
<!--      <%= yield %> -->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->

<h1> input </h1>
  <form action="POST" method="get">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Birthday: <input type="text" name="bday"><br>
    Credit Card Info <input type="text" name="ccinfo"><br>
    <input type="submit" value="Submit">
  </form>